dist/index.html
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&amp;display=swap" rel="stylesheet">
  <script defer src="js/main.bundle.js"></script>
  <link href="css/main.css" rel="stylesheet">
</head>

<body>
  <div class="profile">
    <div class="profile__personal-data">
      <div class="personal-data grid grid-cols-8">
        <div class="personal-data__userpic col-span-8 md:col-span-2" style="background-image: url(assets/userpic.png)"></div>
        <div class="personal-data__fields col-span-8 md:col-span-6">
          <div class="input-text">
            <input class="input-text__input" type="text" placeholder="Имя" />
          </div>
          <div class="input-text">
            <input class="input-text__input" type="text" placeholder="Дата рождения" />
          </div>
          <div class="input-text">
            <input class="input-text__input" type="text" placeholder="Город" />
          </div>
          <div class="input-text">
            <input class="input-text__input" type="text" placeholder="Контактные данные" />
          </div>
        </div>
        <div class="personal-data__stamp"></div>
      </div>
    </div>
    <div class="profile__skills">
      <h4 class="profile__skills-title">Навыки</h4>
      <div class="profile__skills-grid grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4">
        <div class="profile__skill input-checkbox">
          <input class="input-checkbox__input" type="checkbox" id="0">
          <label class="input-checkbox__label" for="0">HTML5</label>
        </div>
        <div class="profile__skill input-checkbox">
          <input class="input-checkbox__input" type="checkbox" id="1">
          <label class="input-checkbox__label" for="1">Sass</label>
        </div>
        <div class="profile__skill input-checkbox">
          <input class="input-checkbox__input" type="checkbox" id="2">
          <label class="input-checkbox__label" for="2">VanillaJS</label>
        </div>
        <div class="profile__skill input-checkbox">
          <input class="input-checkbox__input" type="checkbox" id="3">
          <label class="input-checkbox__label" for="3">git</label>
        </div>
        <div class="profile__skill input-checkbox">
          <input class="input-checkbox__input" type="checkbox" id="4">
          <label class="input-checkbox__label" for="4">CSS3</label>
        </div>
        <div class="profile__skill input-checkbox">
          <input class="input-checkbox__input" type="checkbox" id="5">
          <label class="input-checkbox__label" for="5">Less</label>
        </div>
        <div class="profile__skill input-checkbox">
          <input class="input-checkbox__input" type="checkbox" id="6">
          <label class="input-checkbox__label" for="6">Angular</label>
        </div>
        <div class="profile__skill input-checkbox">
          <input class="input-checkbox__input" type="checkbox" id="7">
          <label class="input-checkbox__label" for="7">Foundation</label>
        </div>
        <div class="profile__skill input-checkbox">
          <input class="input-checkbox__input" type="checkbox" id="8">
          <label class="input-checkbox__label" for="8">БЭМ</label>
        </div>
        <div class="profile__skill input-checkbox">
          <input class="input-checkbox__input" type="checkbox" id="9">
          <label class="input-checkbox__label" for="9">Gulp</label>
        </div>
        <div class="profile__skill input-checkbox">
          <input class="input-checkbox__input" type="checkbox" id="10">
          <label class="input-checkbox__label" for="10">JQuery</label>
        </div>
        <div class="profile__skill input-checkbox">
          <input class="input-checkbox__input" type="checkbox" id="11">
          <label class="input-checkbox__label" for="11">Bootstrap</label>
        </div>
      </div>
    </div>
    <div class="profile__result grid grid-cols-8">
      <div class="result-scale col-span-8 md:col-span-4 mb-8 md:mb-0">
        <div class="result-scale__arrow">
          <div class="result-scale__arrow-inner"></div>
        </div>
      </div>
      <div class="profile__result-text col-span-8 md:col-span-4">
        <h4 class="profile__result-title">Мой уровень владения
          <br>Java Script
        </h4>
        <div class="profile__result-number hero">0</div>
      </div>
    </div>
  </div>
</body>

</html>

src/pug/index.pug
include ./components/inputs.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="preconnect", href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap", rel="stylesheet")
  body 
    .profile
      .profile__personal-data
        .personal-data.grid.grid-cols-8
          .personal-data__userpic(class='col-span-8 md:col-span-2' style=`background-image: url(assets/userpic.png)`)
          .personal-data__fields(class='col-span-8 md:col-span-6')
            +input-text('Имя')
            +input-text('Дата рождения')
            +input-text('Город')
            +input-text('Контактные данные')
          .personal-data__stamp
      .profile__skills
        h4.profile__skills-title Навыки
        .profile__skills-grid.grid(class='grid-cols-2 sm:grid-cols-3 md:grid-cols-4')
          each skill, idx in ['HTML5', 'Sass', 'VanillaJS', 'git', 'CSS3', 'Less', 'Angular', 'Foundation', 'БЭМ', 'Gulp', 'JQuery', 'Bootstrap']
            .profile__skill.input-checkbox
              input.input-checkbox__input(type='checkbox' id=idx)
              label.input-checkbox__label(for=idx)= skill 
      .profile__result.grid.grid-cols-8
        .result-scale(class='col-span-8 md:col-span-4 mb-8 md:mb-0')
          .result-scale__arrow
            .result-scale__arrow-inner
        .profile__result-text(class='col-span-8 md:col-span-4')
          h4.profile__result-title
            | Мой уровень владения
            br
            | Java Script
          .profile__result-number.hero 0
